esame c#/test wcf client/Connected Services/WCF/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/wcfserver" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/wcfserver" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Utente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cognome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsAdmin" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Saldo" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Utente" nillable="true" type="tns:Utente" />
  <xs:complexType name="Transazione">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Id_Utente" type="xs:int" />
      <xs:element minOccurs="0" name="Valore" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transazione" nillable="true" type="tns:Transazione" />
  <xs:complexType name="ArrayOfTransazione">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transazione" nillable="true" type="tns:Transazione" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransazione" nillable="true" type="tns:ArrayOfTransazione" />
</xs:schema>